.add-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}
.input {
    width: 450px;
    padding: 0.5rem 1rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}